{
  "dev": {
    "baseUrl": "http://localhost:8081/api/v1",
    "baseUrlV2": "http://localhost:8081/api/v2",

    "token": "{YOUR_ACCESS_TOKEN}",
    "refreshToken": "{YOUR_REFRESH_TOKEN}",
    "xenditCallbackToken": "{YOUR_XENDIT_CALLBACK_TOKEN}",

    "guestToken": "{GUEST_TOKEN_DARI_POST_DININGS}",
    "guestCode": "{GUEST_CODE_6_DIGIT}",
    "trackToken": "{TRACK_TOKEN_DARI_POST_ORDERS}",
    "customerToken": "{ACCESS_TOKEN_CUSTOMER_YANG_LOGIN}"
  }
}
