.myenv

private
config/private-config.yml
temp
**tmp**
.env*
env*
**.bak

### Docker - CI/CD?
redis_data
docker-compose.yml

### FUTURE PLAN ###
CACHE.md
ORDER-ROADMAP.md

### JAVA ###
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
